.App {
  text-align: center;
}

a {
  text-decoration: none;
}

html, body, #root, .App>div, #root>div {
  height: 100%
}

.pageComponent {
  display: flex;
}

.pageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pageContent > div {
  padding: 22px;
}

.loader {
  height: 100%;
  background: #919191;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.loginPage {
  height: 100%;
  background: #919191;
  display: flex;
  align-items: center;
  justify-content: center;
}